@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fallAndBounce {
  0% {
    transform: translateY(-100%) translateX(-50%);
  }
  70% {
    transform: translateY(140%) translateX(-50%);
  }
  75% {
    transform: translateY(130%) translateX(-50%);
  }
  80% {
    transform: translateY(135%) translateX(-50%);
  }
  85% {
    transform: translateY(128%) translateX(-50%);
  }
  90% {
    transform: translateY(132%) translateX(-50%);
  }
  100% {
    transform: translateY(0%) translateX(-50%);
  }
}

@keyframes developerFall {
  0%, 69% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(100%) rotate(90deg);
  }
}

@keyframes pulsate {
  0%, 100% {
    transform: translateY(0%) translateX(-50%) scale(1);
  }
  50% {
    transform: translateY(0%) translateX(-50%) scale(1.1);
  }
  75% {
    transform: translateY(0%) translateX(-50%) scale(1.06);
  }
}

.animate-fall-bounce {
  animation: fallAndBounce 3s cubic-bezier(0.4, 0, 0.2, 1) forwards,
             pulsate 1.5s ease-in-out 5s 10 forwards;
}

.animate-developer-fall {
  animation: developerFall 1.2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  animation-delay: 2.1s;
} 